@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  transition: all ease 0.3s;
}
.backdrop-blur {
  @apply bg-dark-3;
  /* opacity: 0.3; */
  backdrop-filter: blur(5px);
}
.btn {
  @apply p-2 border border-green-500 rounded-lg cursor-pointer;
}
.btn:hover {
  @apply bg-green-500;
}
.scrollactive-item {
  @apply text-yellow-500;
}
.theme-light {
  --color-bg-dark-1: #e1e1e1;
  --color-bg-dark-2: #b8b8b8;
  --color-bg-dark-3: #e1e1e1;
  --color-text-white: #343a40;
}
.theme-dark {
  --color-bg-dark-1: rgba(44, 44, 44);
  --color-bg-dark-2: rgb(22, 22, 22);
  --color-bg-dark-3: rgb(28, 28, 28);
  --color-text-white: #fff;
}
